# Python Statements

In [1]:
var1 = 10     # is a single-line assignment statement

In [2]:
temp = (10 + 32 + 53 +
    40 + 52 + 46 +
    27 + 68 + 59)       # Multiline statement

# Python Indentation

In [5]:
for k in range(1,10) :
    print(k)
    if k == 5 + 4:
        break

if True:
    print('Hello')
    a = 5

if True: print('Hello'); a = 5

1
2
3
4
5
6
7
8
9
Hello
Hello

# Python Comments

In [4]:
#   This is a comment
#   print name of the course

print('Python Comeents -> Single-line and Multi-line')


"""This is also a
an example of
multi-line comments"""

Python Comeents -> Single-line and Multi-line

'This is also a\nan example of\nmulti-line comments'

# Python Variables

In [14]:

name = "Python Practice"    # String Variable
Myage=Herage= 45       
""" Int variable
    Assigning single value to multiple variables """
a=b=c=90  
a=b=c=4,5,6               
a,b,c=4,5,6            # Assigning multiple values to multiple variables:

print(name)  
print(Myage,Herage)  
print(a,b,c) 

name = "Test1"  
Name = "Test2"  
naMe = "Test3"  
NAME = "Test4"  
n_a_m_e = "Test5"  
_name = "Test6"  
name_ = "Test7"  
_name_ = "Test8"  
na80me = "Test9"  
print(name,Name,naMe,NAME)            # Print multiple values  
print(name,Name,naMe,NAME,n_a_m_e, NAME, n_a_m_e, _name, name_,_name, na80me)

Python Practice
45 45
4 5 6
Test1 Test2 Test3 Test4
Test1 Test2 Test3 Test4 Test5 Test4 Test5 Test6 Test7 Test6 Test9

# Operators


Arithmetic Operators

In [13]:
m = 15
n = 4

# Output: m + n = 19
print('m + n =',m+n)

# Output: m - n = 11
print('m - n =',m-n)

# Output: m * n = 60
print('m * n =',m*n)

# Output: m / n = 3.75
print('m / n =',m/n)

# Output: m // n = 3
print('m // n =',m//n)

# Output: m ** n = 50625
print('m ** n =',m**n)

m + n = 19
m - n = 11
m * n = 60
m / n = 3.75
m // n = 3
m ** n = 50625

Comparison Operators

In [12]:
a = 10
b = 12

# Output: a > b is False
print('a > b is',a>b)

# Output: a < b is True
print('a < b is',a<b)

# Output: a == b is False
print('a == b is',a==b)

# Output: a != b is True
print('a != b is',a!=b)

# Output: a >= b is False
print('a >= b is',a>=b)

# Output: a <= b is True
print('a <= b is',a<=b)

a > b is False
a < b is True
a == b is False
a != b is True
a >= b is False
a <= b is True

Logical Operators

In [11]:
m = True
n = False

print('m and n is',m and n)

print('x or y is',x or y)

print('not x is',not x)

m and n is False
x or y is Hello world
not x is False

Bitwise operators

In [18]:
x=10
y= 4
print(x&y)
print(x|y)
print(x^y)
print(x<<y)
print(x>>y)

0
14
14
160
0

Assignment operators

In [8]:
a=2
a += 5
a %= 5
a **= 5
a //= 5
print(a)

6

Identity operators

In [9]:
x1 = 10
y1 = 10
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [10,20,30]
y3 = [10,20,30]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

Membership Operators

In [7]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

# Data Types

Numeric

In [6]:
a = 5  
print("The type of a", type(a))  
  
b = 50.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

String

In [19]:
str = "This sentence has  double quotes"  
print(str)  
s1 = '''''This line has multiline 
string'''  
print(s1)

str1 = 'hello world'         #string str1    
str2 = ' Happy Holidays'      #string str2    
print (str1[0:2])            #printing first two character using slice operator    
print (str1[4])             #printing 4th character of the string    
print (str1*2)               #printing the string twice    
print (str1 + str2)          #printing the concatenation of str1 and str2

This sentence has  double quotes
''This line has multiline
string
he
o
hello worldhello world
hello world Happy Holidays

List

In [20]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))  
  
#Printing the list1  
print (list1)  
  
# List slicing  
print (list1[3:])  
  
# List slicing  
print (list1[0:2])   
  
# List Concatenation using + operator  
print (list1 + list1)  
  
# List repetation using * operator  
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
[2]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

Tuple

In [ ]:
tup  = ("hi", "Python", 2)    
# Checking type of tup  
print (type(tup))    
  
#Printing the tuple  
print (tup)  
  
# Tuple slicing  
print (tup[1:])    
print (tup[0:1])    
  
# Tuple concatenation using + operator  
print (tup + tup)    
  
# Tuple repatation using * operator  
print (tup * 3)     
  
# Adding value to tup. It will throw an error.  
t[2] = "hi"

Dictionary

In [ ]:
dict = {1:'Karnataka', 2:'Kerala', 3:'UP', 4:'Punjab'}     
  
# Printing dictionary  
print (dict)  
  
# Accesing value using keys  
print("1st name is "+dict[1])   
print("2nd name is "+ dict[4])    
  
print (dict.keys())    
print (dict.values())

Boolean

In [ ]:
# Python program to check the boolean type  

print(type(True))  
print(type(False))  
print(false)

Set

In [ ]:
# Creating Empty set  
set1 = set()  
  
set2 = {'India', 20.4, 100,'OOP'}  
  
#Printing Set value  
print(set2)  
  
# Adding element to the set  
  
set2.add(10)  
print(set2)  
  
#Removing element from the set  
set2.remove(2)  
print(set2)

# Control Statements

if-elif-else Statement

In [24]:

grade = input("Enter your grade: ")

if grade == 'A' or grade == 'B':
    print("Well Performed")
    if grade == 'A':
        print("Excellent")
    else:
        print("Good")
elif grade == 'C' or grade == 'D':
    print("Need Improvement")
else :
    print("Fail")

Enter your grade: B
Well Performed
Good

for Loop

In [ ]:

# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')


# Use of break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")


# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

while Loop